:root {
    --font-main: "Inter";
    --font-accent: "Press Start 2P";
    --card-text-weight: 400; 
    --card-title-weight: 700;
    --background-color: #fff;
    --stroke-color: #fff;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --btn-text-color: #fff;
    --contour-color: black;
    --animation-fill-color: #FF0000;
}
